NET CLK     LOC = P51 | IOSTANDARD = LVCMOS33;
NET "clk_BUFGP" TNM = "tnm_main_clk_group";
TIMESPEC "ts_clk" = PERIOD "tnm_main_clk_group" 20.000 ns HIGH 50%;

#BOARD LED's
NET LED<0>     LOC = P134 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;
NET LED<1>     LOC = P137 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;

#Button
NET BUTTON<0>  LOC = P138 | IOSTANDARD = LVTTL ;
NET BUTTON<1>  LOC = P60  | IOSTANDARD = LVTTL ;

#PMODA
NET uart_rx    LOC = P9   | IOSTANDARD = LVTTL ;
NET uart_tx    LOC = P12  | IOSTANDARD = LVTTL ;


